* {
    box-sizing: border-box;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
}

body {
    background-color: #8BB8EF;
    color: white;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

p {
    color: #E83C3C;
}

/* HEADER ****************************************************/

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #4872FA;
    border-bottom: 10px solid #E83C3C;
}

header h1 {
    margin: 0;
    font-size: 1.6rem;
    font-weight: normal;
    color: white;
}
h2 {
    margin: 0;
    font-size: 1.6rem;
    font-weight: normal;
    color: #4872FA;
}


/* NAV ****************************************************/

nav {
    display: flex;
    gap: 2rem;
}

nav a {
    color: #E83C3C;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav a.active {
    color: white;
    text-decoration: underline;
}






/* MAIN ****************************************************/

main {
    flex: 1;
    padding: 1rem;
}


/* LISTS ****************************************************/





#category-list {
    list-style: none;
    padding: 0;
    width: max-content;
    margin: 1rem auto;
}

#category-list li{
    margin-bottom: 0.3rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
    background-color: #4872FA;
    border-radius: 0.3rem;
}

#category-list li a {
    display: block;
    padding: 0.2rem 0.5rem;
    color: white;
    text-decoration: none;
}

#category-list li:hover {
    background-color: #E83C3C;
}

#task-list {
    list-style: none;
    padding: 0;
    width: max-content;
    margin: 1rem auto;
}

#task-list li{
    margin-bottom: 0.3rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
    background-color: #4872FA;
    border-radius: 0.3rem;
}

#task-list li a {
    display: block;
    padding: 0.2rem 0.5rem;
    color: white;
    text-decoration: none;
}

#task-list li:hover {
    background-color: #E83C3C;
}

#task-list li b {
    display: block;
    padding: 0.2rem 0.5rem;
    color: #E83C3C;
    text-decoration: none;
}

#people-list {
    list-style: none;
    padding: 0;
    width: max-content;
    margin: 1rem auto;
}

#people-list li{
    margin-bottom: 0.3rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
    background-color: #4872FA;
    border-radius: 0.3rem;
    color: white;
}

#admin-task-list {
    list-style: none;
    padding: 0;
    width: max-content;
    margin: 1rem auto;
}

#admin-task-list li{
    margin-bottom: 0.3rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
    background-color: #4872FA;
    border-radius: 0.3rem;
}

#admin-task-list li a {
    display: block;
    padding: 0.2rem 0.5rem;
    color: white;
    text-decoration: none;
}

#admin-task-list li:hover {
    background-color: #E83C3C;
}

/* TABLES ****************************************************/
table {
    display: block;
    width: max-content;
    border-collapse: collapse;
    margin: 1rem auto;
    padding: 1rem;
 
    border: rgb(100, 100, 100) solid 4px;
    border-radius: 0.3rem;
 
 }
 
 th {
     padding: 0.3rem 1rem;
     border: rgb(100, 100, 100) solid 4px;
     background-color: darkslategrey;
 }
 
 td {
     border: rgb(69, 69, 69) solid 4px;
     padding: 0.2rem 1rem; 
 }
/* FORMS**************************************************** */

form {
    width: 15rem;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid #369;
    background-color: #4872FA;
}

label {
    display: block;
    color: white
}

input, select {
    display: block;
    font-size: inherit;
    background-color: white;
    color: lightslategrey;
}

input {
    color: black;
}




/* ADD BUTTON ************************************************/

#admin {
    position: fixed;
    left: 0.5rem;
    bottom: 4rem;
}

#admin a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    width: 5rem;
    background-color: white;
    color: black;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 19px
    

}

#add-button {
    position: fixed;
    right: 0.5rem;
    bottom: 6rem;
}

#add-button a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    background-color: #E83C3C;
    color: black;
    text-decoration: none;
    border-radius: 3rem;
    

}

#back-button {
    position: fixed;
    right: 0.5rem;
    bottom: 4rem;
}

#back-button a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    width: 5rem;
    background-color: white;
    color: black;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 19px
    

}

/* FOOTER ****************************************************/

footer {
    position: sticky;
    bottom: 0;
    padding: 1rem;
    text-align: center;
    border-top: 1px solid slategrey;
    background-color: #4872FA;
    font-size: 0.8rem;
    color: white;
}
